@import url('https://fonts.googleapis.com/css2?family=Karla&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 3px;
    border: none;
}

body {
  font-family: 'Karla', 'Montserrat', sans-serif;
   background-color: #ffea9a;
  color: #82031A;

}

/* headings and navigation bar styling */

.nav-bar  {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  background-color: #ffea9a;
  }

#menu a:hover {
   border: 4px solid #F2F2F2;
   background-color: #F2F2F2;
}  

.nav-bar ul {
  list-style-type: none;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.nav-bar li {
  float: right;
}


.navbar li a {
  display: block;
  padding: 3px;
  font-size: 105%;
  background-color: #ffea9a;
 color: #833a33;
}

h1 {
    position: relative;
    float: left;
    height: 6.25rem;
    font-family: 'Karla', 'Montserrat', sans-serif;
    text-align: center;
    color: #82031A;
    letter-spacing: 2.5px;
}

h2 {
    float: left;
    margin-top: 10em;
    font-family: 'Karla', 'Montserrat', sans-serif;
    color: #82031A;
    letter-spacing: 2.5px;
}

  .flag-image {
    width: 10%;
    height: 10%;
    float: left;
    margin-left: 25%;
  }

  .logo-image {
    width: 10%;
    height: 10%;
    margin-top: 0%;
  }

/* text box styling */

.box-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: #ffea9a;
  padding: 4px;
  gap: 4px;
  align-items: center;
}

.box-container-1grid {
  display: grid;
  width: 36%;
  height: 22%;
  align-self: center;
}
 
.box-container-2grid {
  display: grid;
  grid-template-columns: 15% 45%;
  align-self: center;
}

.box-item {
  background-color: #F7A305;
  border: 4px solid #F2F2F2;
  border-radius: 15px;
  font-size: 17px;
  text-align: center;
}

/* iframe styling */

.map-size iframe {
  height: 100%
  width: 50vh;
  overflow: hidden;
}

.map-size {
  display: flex;
  align-items: center;
  justify-content: center;
}



/* image styling for the index page */

.about-image {
  display: block;
  width: 30%;
  height: 15%;
  margin: 0 auto 0 auto;
  border-radius: 25px;
  border: 5.5px #F2F2F2;
}

/* Styling for The Tour pages */

.tour-experience-box {
  list-style: none;
}


/* Hero image styling */

..hero-image-about {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/about-us.jpg);
 }

 .hero-image-tours {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/barcelona-skyline.jpg);
 }

.hero-image-walking {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/walking-tour.png);
 }

 .hero-image-foodie {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/tapas.jpg);
 }

 .hero-image-modernism {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/modernism.jpeg);
 }
 .hero-image-montserrat {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/montserrat.jpeg);
 }

.hero-image-nuria {
 height: 90%;
background-position: center;
background-repeat: no-repeat;
position: relative;
  background-image: url(/assets/images/vall-de-nuria-m.jpeg);
}

.hero-image-costabrava {
  height: 90%;
 background-position: center;
 background-repeat: no-repeat;
 position: relative;
   background-image: url(/assets/images/costa-brava.jpeg);
 }

.hero-text {
  padding: 25px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: #82031A;
}

.hero-button {
  color: #e2d2d5;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}

/* Styling for booking and contact page */

textarea {
  padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 4px solid #F2F2F2;
    box-shadow: 1px 1px 1px #999;
}

/* Footer Syling below */

footer {
  width: 40rem;
    position: fixed;
    bottom: 0px;
    left: 22%;
    margin-left: -20rem;
}

.social-links {
  text-align: center;
  width: 40rem;
    position: fixed;
    bottom: 0px;
    left: 50%;
    margin-left: -20rem;
}

/* For medium screen sizes 950px wide and down 

@media screen and (max-width: 950px) {

 
  header {
    text-align: left;

  }

  h3 {
    text-align: justify;
  }

  .box-container  {
    width: 20%;
  }

  footer {
 text-align: right;

   
  }

  .nav-bar {
    font-size: 60%;
}
#menu {
  clear: left;
        float: left;
        margin-bottom: 20px;
        line-height: 25px;
}
}

/*for screen sizes over 540px and under 767px wide
@media (min-width: 540px) {

  header {
    text-align: center;

  }

  h3 {
    text-align: center;
  }

  .box-container  {
    width: 5%;
  }




 /*for screen sizes over 760px and under 950px wide
@media (min-width: 950px) { 

  */

  /* For screen sizes under 540px */

@media (max-width: 540px) { 

  header {
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  .box-container, .box-container-1grid, .box-container-2grid, .box-item {
    width: 20%;
  }